<h2>Privacy Policy Statement</h2>
		
<h3 id="Collection">Collection and Use of Personal Information</h3>
<p>We may collect the following personal information from you if you choose to create an account or login via Facebook</p>
<ul>	
	<li>name and email</li>		
	<li>Unique Identifiers such as user name, account number, password</li>	
</ul>

<p>As is true of most Web sites, we automatically gather information about your computer such as your IP address, browser type, referring/exit pages, and operating system.</p>

<p>We may use this information to</p>
<ul>
	
	<li>Send you a newsletter</li>
		
	<li>Send you marketing communications</li>
	

	<li>Respond to your questions and concerns</li>
	
	
	<li>Improve our Web site and marketing efforts</li>
	
	
	<li>Conduct research and analysis</li>
	
	
	<li>Display content based upon your interests</li>

	</ul>

<p>We enable you to share information with others using Facebook.  Please note that we cannot control the actions of others with whom you may choose to share your pages and information.</p>



<h3 id="Sharing">Information Sharing</h3>
<p>We will share your personal information with third parties only in the ways that are described in this privacy statement. We do not sell your personal information to third parties.</p>


<p>We may also disclose your personal information</p>
<ul>
<li>as required by law such as to comply with a subpoena, or similar legal process</li>
<li>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request,</li>
<li>if DayMaven is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information, </li> 
<li>to any other third party with your prior consent to do so. </li>
</ul>



<h3 id="Tracking">Cookies and Other Tracking Technologies</h3>

<p>We may use cookies, for example, to keep track of your preferences and profile information. Cookies are also used to collect general usage and volume statistical information that does not include personal information.</p>


<p>We use a third party to gather information about how you and others use our Web site.
For example, we will know how many users access a specific page and which links they clicked on. We use this aggregated information to understand and optimize how our site is used.</p>


<h3>Links to Other Web Sites</h3>
<p>Our Site includes links to other Web sites whose privacy practices may differ from those of DayMaven. 
If you submit personal information to any of those sites, your information is governed by their privacy statements. We encourage you to carefully read the privacy statement of any Web site you visit. </p>


<h3 id="Security">Security</h3>
<p>The security of your personal information is important to us. </p>
<p>We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. 
No method of transmission over the Internet, or method of electronic storage, is 100% secure, however.  Therefore, we cannot guarantee its absolute security.</p>
<p>If you have any questions about security on our Web site, you can contact us at <a href="mailto:support@daymaven.com">support@daymaven.com</a></p>


<h3>Notification of Privacy Statement Changes</h3>
<p>We may update this privacy statement to reflect changes to our information practices. 
If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. 
We encourage you to periodically review this page for the latest information on our privacy practices.</p>
