<h1>Find a Day</h1>
<search id="testit">	
	<%form_tag days_path, :method => 'get' do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	<% end %>
</search>

<h1>Top-rated Days</h1>
<p><i>use a partial</i></p>