<% @days.each do |day| %>
 <div class="title">
      <%= link_to day.title, day %>
   </div>
  <div class="description" >
    <%= auto_link(day.description) %>
    <%= day.created_at %>
	</div>

<% end %>


<br>

<%= link_to 'New Day', new_day_path %>